@model StokTakip.Mvc.Models.AnaSayfaViewModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<ol class="breadcrumb mb-4 mt-2">
    <li class="breadcrumb-item "><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Kitap Sayısı= @Model.BooksCount </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link"  asp-controller="Book" asp-action="Index">Detaylar</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Yazar Sayısı = @Model.AuthorsCount</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-controller="Author" asp-action="Index">Detaylar</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Kategoriler(@Model.CategoriesCount)</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-controller="Category" asp-action="Index">Detaylar</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Kullanıcı Sayısı = @Model.UsersCount</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-controller="User" asp-action="UserList">Detaylar</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

